@use "../../../variables.scss" as var;

.planet-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    border-bottom: 1px solid var.$lightGrey;
    color: var.$lightGrey;
    width: 100%;
    padding: 0 26px;
    
    p {
        cursor: pointer;
        letter-spacing: 2px;
        padding: 26px 5px;
    }

    p.selected {
        color: #FFF;
        position: relative;
    }

    p.selected::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var.$lightGrey;
    }
}

.planet-image {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
        width: 175px;
        height: 175px;
    }

    >.geology-icon {
        width: 85px;
        height: auto;
        position: absolute;
        bottom: 50px;
        transform: translateY(100%);
    }
}

.planet-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    margin: 0 var.$bodyMargin;
    margin-top: 65px;

    h1 {
        text-transform: uppercase;
        font-family: "Antonio", serif;
        margin-bottom: 20px;
        font-size: 40px;
    }

    p, span {
        line-height: 22px;
        font-size: 11px;
        font-weight: 400;
    }

    span {
        margin-top: 35px;
        font-size: 12px;
        font-weight: 700;
        line-height: 25px;
        color: var.$lightGrey;

        a {
            color: var.$lightGrey;
            font-weight: 700;
            font-size: 12px;
        }
    }
}

.planet-additional-info {
    margin: 0 var.$bodyMargin;
    margin-top: 27px;
    margin-bottom: 47px;

    p {
        border: 1px solid var.$lightGrey;
        color: var.$lightGrey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 9px;
        padding: 19px 24px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    span {
        font-family: 'Antonio', 'serif';
        font-size: 20px;
        font-weight: 400px;
        color: var.$white;
    }
}

@media (min-width: var.$tablet) {
    .planet-info {
        color: #FFF;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: 70px var.$bodyMargin;
        gap: 70px;

        .planet-info-text {
            align-items: flex-start;
            text-align: start;
            margin: 0;
            flex: 1;
        }

        .planet-info-selector {
            flex: 1;
            width: fit-content;

            >p {
               border: 1px solid var.$lightGrey;
               text-transform: uppercase;
               font-family: 'Spartan', serif;
               font-weight: 700;
               font-size: 9px;
               letter-spacing: 2px;
               padding: 20px 0;
            }

            >p:not(:last-child) {
                margin-bottom: 16px;
            }

            @each $planet, $color in var.$planet-colors {
                >p.#{$planet} {
                    &.selected {
                        border: 1px solid $color;
                        background-color: $color;
                    }
                }
            }
            
            @for $i from 1 through 3 {
                >p:nth-child(#{$i})::before {
                    content: "0#{$i}";
                    margin: 0 18px;
                }
            }
        }
    }

    .planet-additional-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        p {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            gap: 19px;
            flex: 1;

            span {
                font-weight: 400;
                font-size: 24px;
            }
        }
    }
}