// colors
$bg-color: #070724;
$white: rgb(255, 255, 255);
$black: rgb(7, 7, 36);
$darkGrey: #38384f;
$lightGrey: #838391;

$planet-colors: (
    mercury: rgb(65, 158, 187),
    venus: rgb(237, 162, 73),
    earth: rgb(109, 46, 213),
    mars: rgb(209, 76, 50),
    jupiter: rgb(216, 58, 52),
    saturn: rgb(205, 81, 32),
    uranus: rgb(30, 193, 162),
    neptune: rgb(45, 104, 240),
);

// spacing
$bodyMargin: 25px;

// media query
$tablet: 768px;
$desktop: 1024px;